@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');
:root{
    /* Colores */
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffee05;
    --secundario: #0097A7;
    --azul-claro: #109bc5;
    --gris:#757575;
    --gris-claro:  #DFE9F3 ;
    

    /* Fuentes */
    --fuente-open-sans: 'Open Sans', sans-serif;
    --fuente-roboto: 'Roboto', sans-serif;

    /* Fondos */
    --background: linear-gradient(to top,var(--gris-claro) 0%, var(--blanco) 100%);
    }
   
/* Globales */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    font-size: 1.7rem;/* 1rem es igual a 10px  */ 
    background-image: var(--background);
    font-family: var(--fuente-ope   n-sans);
}
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
.contenedor{
    width: min(90%, 120rem);
    margin: 0 auto;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--azul-claro);
}
.header__logo a{
    color: var(--primario);
    font-family: var(--fuente-roboto);
}
.header__redes-sociales{
    display: none;
}
.header__nav-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.header__nav-bar a{
    color: var(--blanco);
    font-weight: bold;
    padding: 0.5rem;
    font-size: 1.8rem;
}
.header__nav-bar a:hover{
    background: var(--blanco);
    color: var(--oscuro);
}
@media (min-width: 992px) {
    .header{
        display:grid;
        grid-template-areas: 
        'logo redes'
        'logo nav';
    }
    .header__logo{
       grid-area: logo;
       text-align: center;
    }
    .header__redes-sociales{
        grid-area: redes;
        display: flex;
        justify-content: flex-end;
        margin-right: 2rem;
    }
    .header__nav-bar{
        grid-area: nav;
        flex-direction: row;
        justify-content: space-around;
    }
    .seleccion{
        text-decoration: overline;
    }
}
.banner{
    height: 20rem;
    background-image: url(../img/banner4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 2rem;
}
.banner__contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    position: absolute;
    color: var(--blanco);
    background-color: rgb(0 0 0 /50%);
    width: 100%;
    height: 100%;
}
.tarjeta-promocion{
    border-bottom: 1px solid var(--blanco);
    padding: 2rem 0;
}
.tarjeta-promocion__foto img{
    width: 100%;
}
@media (min-width: 992px) {
    .tarjeta-promocion{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        column-gap: 2rem;
    }
}
.tarjeta-promocion:last-of-type{
    border: none;
}
.tarjeta-promocion__informacion{
    line-height: normal;
}
.tarjeta-promocion__precios{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
.ver-detalle-precio{
    background-color: var(--azul-claro);
    color: var(--gris-claro);
    padding: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    /* text-transform: uppercase; */
    font-weight: bold;
    border-radius: .5rem;
    text-align: center;
    width: 80%;
    border: none;
}
.ver-detalle-precio:hover{
    cursor: pointer;
}
/* Footer */

.footer{
    background-color: var(--azul-claro); 
}
.footer__contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 600px) {
    .footer__contenedor{
        flex-direction: column;
    }
    .footer__redes-sociales{
        margin-top: 2rem;
        order: -1;
    }
}
.footer p{
    color: var(--blanco);
}

/* Pagina Ver Detalle */
.carrusel{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 1rem;
}
.carrusel__menu{
    display: none;
}
.carrusel ul{
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 100rem;
}
@media (max-width: 768px) {
    .carrusel ul{
        max-width: 50rem;
    }
}
.carrusel__fotos{
    display: flex;
    gap: 1rem;
    overflow: auto;
}
.carrusel__fotos img{
    width: 30rem;
    height: 20rem;
    object-fit: contain;
    background: var(--background);
    border: 2px solid white;
    
}
@media (min-width: 768px) {
    .carrusel__fotos img{
        width: 40rem;
    height: 40rem;
    }
}
@media (min-width: 992px) {
    .carrusel__fotos{
        overflow: hidden;
    }
    .carrusel__fotos img{
        width: 100rem;
        height: 50rem;
    }
    .carrusel__menu{
        display: block;
    }
    .carrusel__menu img{
        box-sizing: border-box;
        width: 5rem;
        height: 5rem;
        border: 10px solid black;
        
    }
    .carrusel__menu img:hover{
        border: none;
    }
}
.informacion-destino__descripcion{
    text-align: justify;
}
.division-paquete{
    text-align: center;
    font-size: 2rem;
    background: var(--azul-claro);
    color: var(--blanco);
    padding: 1rem;
}
.paquete{
    line-height: 1.7;
}
@media (min-width: 768px) {
    .paquete{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}
.paquete__detalle{
    background: var(--background);
    padding: 0 2rem;
}

/* Css tabla */
.paquete__detalle-precio{
    margin: 1rem auto;
    text-align: center;
}
.paquete__detalle-mensaje{
    font-weight: bold;
    color: var(--azul-claro);
    font-size: 2rem;
}
.paquete__detalle-tabla{
    width: 100%;
}
.paquete__detalle-tabla, td {
    border: 1px solid var(--azul-claro);
    border-collapse: collapse;
    text-align: center;
    background-color: var(--blanco);
  }
  .paquete__detalle-tabla .encabezado-tabla{
    background: var(--azul-claro); 
    color: var(--blanco); 
    border: 1px solid var(--oscuro); 
}
.paquete__detalle-precio .boton-enviar{
    margin-top: 2rem;
    width: 90%;
    border-radius: 50px;
    background: #25D366;
    padding: 1rem;
    font-size: 1.5rem;
}
.boton-enviar:hover{
    cursor: pointer;
}
